@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Shadows+Into+Light+Two&display=swap');

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    font-weight: normal;
    font-family: 'Shadows Into Light Two', cursive;
}

.container form{
    background-color: rgba(64, 236, 48, 0.75);
    box-shadow: 0 5px 15px 8px rgb(22, 255, 0);
    width: 98%;
    max-width: 550px;
    margin: auto;
    padding: 5px 35px;
    margin-top: 30px;
    padding-bottom: 30px;
    border-radius: 5px;
    
}

.container form label{
    display: block;
    color: rgba(41, 49, 41);
    font-size: 35px;
    margin-top: 35px;
    margin-bottom: 20px;
    position: relative;
    text-align: center;
}

.container input{
    background: transparent;
    background-color: rgb(22, 255, 0, 0.05);
    border:none;
    border-bottom: 2px solid rgb(83, 110, 83);
    outline: none;
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 20px;
    padding: 5px;
    width: 70%;
    margin: 25px;
    color: rgb(54, 61, 54);
}

.container input:focus{
    border-bottom: 2px solid rgba(41, 49, 41);
}

.container input::placeholder{
    color:rgb(83, 110, 83);
    padding-left: 50px;
    font-size: 30px;
}

.container input:focus::placeholder{
    color: rgba(41, 49, 41);
}


.logo{
    color: rgb(101, 130, 101);
    background-position: 15px;
    font-size: 30px;
    margin-left: auto;
}

.btt{
    font-family: 'Shadows Into Light Two';
    background-color: rgb(51, 41, 55);
    color:rgb(215, 170, 250);
    outline: none;
    border: outset;
    border-radius: 10px;
    border-color:rgb(191, 176, 213);
    font-weight:bolder;
    font-size:20px;
    padding: 8px 15px;
    width: 100%;
    margin-top: 35px;  
    cursor: pointer;
}

.btt:hover{
    background-color: rgb(215, 170, 250);
    color: rgb(51, 41, 55);
    outline: none;
    border-color: rgb(132, 100, 125);
}

.container form p{
    color: rgb(216, 4, 89);
    font-size: 15px;
}

