@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Shadows+Into+Light+Two&display=swap');




.items {
    /*background-color: rgb(51, 41, 55, 0.7);*/
    background-color: rgb(206, 214, 205, 0.6);
    border-radius: 15px;
    box-shadow: 0 5px 15px 8px rgb(206, 214, 205);
    padding: 20px;
    float: left;
    text-align:start;
    font-size:2rem;
    font-family: 'Shadows Into Light Two', cursive;
    font-weight: bolder;
    color: rgb(51, 41, 55);
    margin-top: 9%;
    margin-left: 25%;
}



.imagen img{
    float: right;
    margin: center;
    margin-top: 7%;
    margin-right: 10%;
    box-shadow: 0 5px 15px 8px rgb(206, 214, 205);
    border-radius: 30px;
}



.btt{
    position:fixed;
    /*display: inline-block;*/
    justify-content:center;
    /*margin-top: 80px;
    margin-left: 100px;*/
    
    margin-top: 420px;
    
    
    font-family: 'Shadows Into Light Two', cursive;
    background-color: rgb(51, 41, 55);
    color:rgb(215, 170, 250);
    border: 0px;
    border-radius: 10px;
    font-weight:bolder;
    font-size:larger;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border: outset;
    border-color:rgb(191, 176, 213);
}

.btt:hover{
    background-color: rgb(215, 170, 250);
    color: rgb(51, 41, 55);
    border: outset;
    border-color: rgb(132, 100, 125);
}