@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Shadows+Into+Light+Two&display=swap');

.Cards{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-family: 'Luckiest Guy', cursive;
    color: rgb(118, 237, 138);
}
