.divGral {    
    background-color: rgb(51, 41, 55);
    margin: 50px;
    font-size: small;
    border-radius: 10px;
    border: 2.5px;
    color: rgb(215, 170, 250);
    border-style:outset;
    border-color: rgb(238, 209, 248);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-size: medium;  
}

.boton{
    border-radius: 8px;
    background-color: rgb(247, 6, 155);
    border-color: rgb(245, 247, 240);
    color: rgb(65, 6, 131);
    margin-left: 87%;
    padding: 4px 6px;
    margin:auto;
    margin-left: 227px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bolder;
    font-size: larger;
}

.boton:hover{
    background-color: rgb(65, 6, 131);
    color: rgb(247, 6, 155);
}

.botonFav{
    border: none;
    border-radius: 10px;
    background-color: rgb(51, 41, 55);
    border-color: rgb(245, 247, 240);
    color: rgb(65, 6, 131);
    margin-top: 0;
    margin-bottom: 20px;
    padding: 0;
    padding-left: 10px;
    padding-top: -10px;
    padding-bottom: 0%;
    font-weight: bolder;
    font-size: larger;
}

.container{
    position: relative;
}

.titulo a{
text-decoration: none;
color: rgb(215, 170, 250);
}


.titulo {
    font-style: none;
    position: absolute;
    justify-content: flex-start;
    background-color:  rgb(51, 41, 55, 0.7);
    color: rgb(233, 19, 180);
    /*opacity: 0.7;*/
    background-size: medium;
    margin-top: 230px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px 12px;
    border-radius: 5px;
}

.specieGender{
    display: flex;
    justify-content: space-evenly;
    align-items:flex-start;
    flex-direction: row;
    margin-top: 5px;
    margin-bottom: 5px;
}

