@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Shadows+Into+Light+Two&display=swap');




.barra{
    font-family: 'Shadows Into Light Two', cursive;
    background-color: rgb(215, 170, 250);
    color: rgb(51, 41, 55);
    font-style: initial;
    border: 0px;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 25px 0px;
    display: inline-table;
    justify-content: space-evenly;
    border: outset;
    border-color: rgb(130, 105, 140);
    font-size: larger;
    font-weight: bolder;
    margin-right: 5px;
}

.botonBar{
    font-family: 'Shadows Into Light Two';
    background-color: rgb(51, 41, 55);
    color:rgb(215, 170, 250);
    border: 0px;
    border-radius: 10px;
    font-weight:bolder;
    font-size:larger;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 25px 0px;
    margin-right: 23px;
    border: outset;
    border-color:rgb(191, 176, 213);
    cursor: pointer;
}

.botonBar:hover{
    transition: all 0.25 ease;
    background-color: rgb(215, 170, 250);
    color: rgb(51, 41, 55);
    border: outset;
    border-color: rgb(132, 100, 125);
}

.barra:hover{
    background-color: rgb(51, 41, 55);
    color: rgb(215, 170, 250);
    border: outset;
    border-color: rgb(191, 176, 213);
    
}